header {
    position: relative;
    top: 0;
    background-image: linear-gradient(#603601, #603601);
}

.centered {
    position: absolute;
    top: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-1 {
    position: absolute;
    top: 25.9%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-primary {
    font-family: "Montserrat ExtraBold";
}

.font100 {
    font-size: 100px;
}

.font25 {
    font-size: 25px;
}

.font-white {
    color: white;
}

svg {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 35vw;
    /* set height to pixels if you want angle to change with screen width */
}
