header {
    position: relative;
    top: 0;
    background-image: linear-gradient(#603601, #603601);
}

.container-nav {
    background-color: #CC9544;
    height: 150px;
    width: 100%;
}

.centered {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-1 {
    position: absolute;
    top: 32%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2 {
    position: relative;
}

.text-footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.font-primary {
    font-family: "Montserrat ExtraBold";
}

.font150 {
    font-size: 150px;
}

.font30 {
    font-size: 30px;
}

.font-white {
    color: white;
}

.icon15 {
    height: auto;
    width: 15rem;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.center {
    text-align: center;
}

.center-btn {
    margin: auto;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 15px 30px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    border-radius: 40px;
}

.button-container-div {
    display: grid;
}

.order {
    background-color: #cc9544;
    font-size: 15px;
}

.order:hover {
    background-color: #dcbe92;
}
