/*----------------------------------------------
                #General styling
----------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

body {
    background-color: #603601;
}

img {
    width: 100%;
    height: auto;
}


ul {
    list-style-type: none;
}

label {
    display: inline-block;
    margin-bottom: 0.35rem;
}

input, textarea{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #CC9544;
    border-radius: 0.25rem;
    transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
    resize: vertical;
}

button {
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: #CC9544;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: 2px solid #CC9544;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-appearance: button;
    -moz-user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover {
    background-color: #CC9544;
    color: #fff;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #CC9544;
}

#name-input {
    text-transform: capitalize;
}

.form-group {
    margin-bottom: 1rem;
}

/*----------------------------------------------
                #header styling
----------------------------------------------*/
.navbar {
    background-color: #CC9544;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
}

.navbar-home {
    background-color: #CC9544;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    padding: 10px 10px 10px 10px;
}

.navbar-logo-img {
    margin-left: 200%;
    height: auto;
    width: 55px;
}

.nav-list {
    padding-right: 8%;
}

.nav-list .nav-item {
    display: inline-block;
    padding: 0 20px 0 10px;
    overflow: hidden;
}

/* dropdown css */
.dropdown-list {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #f3f1ed;
    border-radius: 5px;
}

.dropdown-list .dropdown-item a{
    padding: 10px;
    color: #CC9544;
}

li:hover .dropdown-list {
    display: block;
}

.dropdown-list .dropdown-item a:hover, .dropdown-list .dropdown-item a.active{
    color: #603601;
    background-color: #d6a763;
    border-radius: 5px;
}

.nav-list .nav-item i {
    font-size: 10px;
}

.navbar li a, .navbar-home a {
    transition: 0.3s ease-in-out;
    letter-spacing: 1px;
    display: block;
}

.bar-menu {
    display: none;
}

.bar-line1, .bar-line2, .bar-line3 {
    width: 22px;
    height: 4px;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

/* On Mobile Styling */

@media screen and (max-width: 750px){
    .navbar, .navbar-home {
        flex-direction: column;
        padding: 0;
    }

    .navbar-logo {
        width: 100%;
        margin-top: 2px;
        margin-left: 15%;
    }

    .navbar-logo-img {
        margin: 0 0 0 0;
    }

    .nav-list {
        width: 100%;
        padding: 10px 0 0 0;
        display: none;
        transition: 0.3s ease-in-out;
    }

    .navbar li a, .navbar-home li a {
        display: block;
        padding: 15px;
    }

    .nav-list .nav-item {
        display: block;
        padding: 0;
        border-top: 1px solid #fff;
        text-align: center;
    }

    .navbar li a:hover, .navbar li a:focus, .navbar-home li a:hover, .navbar-home li a:focus, a.active {
        background-color: #603601;
        display: block;
        padding: 15px;
        border-radius: 0;
    }

    .dropdown-list {
        position: relative;
        background-color: #CC9544;
    }

    .dropdown-list .dropdown-item a{
        padding: 15px;
        color: #fff;
    }

    .dropdown-list .dropdown-item a:hover{
        color: #fff;
        background-color: #603601;
    }

    .bar-menu {
        display: block;
        position: absolute;
        right: 18px;
        top: 18px;
        cursor: pointer;
    }

    .change .bar-line1{
        -webkit-transform: rotate(-45deg) translate(-5px, 6px);
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .change .bar-line2{
        opacity: 0;
    }

    .change .bar-line3{
        -webkit-transform: rotate(45deg) translate(-5px, -6px);
        transform: rotate(45deg) translate(-6px, -6px);
    }

    .nav-active {
        display: block;
    }
}

/*----------------------------------------------
                #menu styling
----------------------------------------------*/

/* tips and trick css */

.color-chocolate{
    color: #CC9544;
}
.menu-container .menu-header{
    padding: 150px 20px 2vw 20px;
}
.menu-container .menu-body {

    padding: 20px 20px 2vw 20px;
}

.menu-header {

    margin: 40px 0 2vw 0;

    text-align: center;
    letter-spacing: 1px;
}

.menu-header h1{
    font-size : clamp(2rem, 10vw, 4.75rem);
}

.menu-body, .content {
    padding: 1.5%;
}

.title-content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-weight: 700;
}

.listSpace{
    padding: 10px;

}

.styleUL{
    list-style-type: square;
}

.listSpacePara{
    padding-left: 70px;
}

.listStyle{
    padding-left: 92px;
    padding-top: 10px;
}

.justify{
    text-align: justify;
}

.rounded-num {
    border-radius: 50%;
    background-color: #CC9544;
    color: #000;
    text-align: center;
    font-size: 42px;
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
}

.title-text {
    padding: 8px;

    font-size: calc(1.15em + 1vw);

}

.body-content {
    line-height: 1.5;
}

.content-img {
    width: 90%;
}

.image-center {
    padding: 10px;
    width: 100%;
    text-align: center;
}

/* Suggestion css */

.image-suggestion {
    background-size: cover;
    padding-top: 1.5%;
}

.left-group {
    width: 50%;
    padding: 0 5vw 10px 0;
}

.right-group {
    width: 50%;
}

.form-group textarea {
    height: 201px;
}

.float-right {
    float: right;
}

/* Booking Guidance css */

.content .right {
    justify-content: right;
    direction: rtl;
}

.image-md {
    padding: 10px;
    width: 50%;
    height: auto;
}

.image-left {
    float: left;
}

.image-right {
    float: right;
}

.text-md {
    width: 50%;
    height: auto;
    align-self: center;
}

.mb-5 {
    margin-bottom: 5%;
}


/* Browse Services css */

.background-secondary {
    background-color: #CC9544;
}

.background-image {
    background-image: url(../img/cropped.png);
    background-size: 1600px 400px;
    background-repeat: no-repeat;
}

.menu-header h2 {
    text-align: left;
    margin: 2rem 0 0 2rem;
    font-size: clamp(1.5rem, 8vw, 3.05rem);
}

.input-group {
    display: flex;
    margin: 10px;
}

.input-date-left {
    border-radius: 2rem 0 0 2rem;
    border: unset;
    border-right: darkgray 2px solid;
}

.input-date-right {
    border-radius: 0 2rem 2rem 0;
    border: unset;
    border-left: darkgray 2px solid;
}

.search-group {
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
}

.input-group i {
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    background-color: #361500;
    font-size: 1.5rem;
    cursor: pointer;
}

.input-group #search-input {
    border: unset;
    border-radius: 20px;
}

.input-group #search-input:focus {
    outline: none;
    box-shadow: unset;
}

.card {
    width: 31%;
    background-color: #fff;
    border-radius: 5px;
    margin: 0.75rem;
    box-shadow: 0 4px 8px 0 #361500;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #361500;
    transition: all 0.3s ease-in-out;
}

.padding5{
    padding: 5px;
}

.card-caption {
    padding: 20px 15px 10px 20px;
}

.card-caption .label{
    border-radius: 20px;
    padding: 2px 10px 2px 10px;
    margin-bottom: 10px;
}

.card-caption h2, .card-caption small, .card-caption small strong, .card-caption i{
    color: #000;
}

.card-caption h2 {
    padding-top: 15px;
}

.card-caption i {
    font-size: 2.5rem;
    cursor: pointer;
}


/* On Mobile Styling */
@media screen and (max-width: 1000px){
    .card {
        width: 45%;
    }
}

@media screen and (max-width: 900px){
    .content-img {
        width: 100%;
    }

    .menu-body, .content {
        padding-bottom: 30px;
    }

    .image-md, .text-md {
        width: 100%;
    }

    .content .right {
        justify-content: left;
        direction: ltr;
    }

    .image-right, .image-left {
        float: none;
    }
}

@media screen and (max-width: 750px){
    .menu-header {

        margin: 40px 0 1.5vw 0;
    }

    .menu-header h2 {
        margin: 0 0 0 2rem;

    }

    .content-img {
        width: 100%;
    }

    .left-group, .right-group {
        width: 100%;
        padding: unset;
    }

    .card {
        width: 100%;
    }
}

/*----------------------------------------------
                #Footer styling
----------------------------------------------*/
.footer-wave {
    /*position: relative;*/
    width: 100%;
    margin-bottom: -6px;
    /*bottom: -6px;*/
}

.header-wave {
    /*position: relative;*/
    width: 100%;
    margin-bottom: -6px;
    /*bottom: -6px;*/
}

.footer {
    background-color: #CC9544;
    padding: 5px 0 50px 0;
}

.menu-footer {
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row-centered {
    justify-content: center;
}

.footer-col {
    width: 25%;
    padding: 0 50px;
}

.footer-col h4 {
    font-size: 20px;
    margin-bottom: 20px;
}
.footer-col h4::after {
    content: '';
    display: block;
    left: 0;
    background-color: #361500;
    height: 2px;
    width: 50px;
    margin: 8px 0 0 0;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    color: #f0e5d6;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    font-weight: 800;
    padding-left: 10px;
    display: block;
    transition: all 0.3s ease;
}

.bottom-footer {
    padding: 30px 30px 0 0;
}

.whatsapp-color {
    color: #25D366;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.contact-title {
    padding-bottom: 5px;
}

.footer-col a h2 {
    font-weight: 400;
}

.footer-col a h2 i {
    font-size: 40px;
}

.footer-col .copyright-footer {
    padding-top: 40px;
    font-size: 15px;
}

/* On Mobile Styling */

@media screen and (max-width: 900px){
    .footer {
        background-color: #CC9544;
        padding: 5px 0 20px 0;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer-col:last-child {
        width: 100%;
        margin-bottom: 0;
    }

    .footer-col ul li {
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 450px){
    .footer-col {
        width: 100%;
    }
}

/*Dropdown Style*/

.accordion-item{
    background-color: #361500;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}

.accordion-link{
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    background-color: #361500;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link i{
    color: #E7D5FF;
    padding: .5rem;
}

.accordion-link .ion-icon-remove{
    display: none;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #361500;
    transition: max-height 650ms;

}

.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: white;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

}

.answer p{
    font-size: 1.4rem;
    color: white;
    padding: 2rem;
}

.accordion-item:target .answer{
    max-height: 20rem;

}

.accordion-item:target .accordion-link .ion-icon-add{
    display: none;
}

.accordion-item:target .accordion-link .ion-icon-remove{
    display: block;
}
